name: Benchmark
on:
  push:
    branches: [main]
  workflow_dispatch: {}
  schedule:
    - cron: '14 0 * * *'

permissions:
  contents: read

jobs:
  build-with-github:
    name: GitHub / ${{ matrix.image }} / ${{ matrix.caching }}
    strategy:
      fail-fast: false
      matrix:
        image:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        caching:
          - cache=enabled
          - cache=disabled
    runs-on: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Reclaim some disk space
        run: sudo rm -rf /opt
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v4
        if: ${{ matrix.caching == 'cache=enabled' }}
        with:
          context: ./upstream
          cache-from: type=gha
          cache-to: type=gha,mode=max,compression=zstd
      - uses: docker/build-push-action@v4
        if: ${{ matrix.caching == 'cache=disabled' }}
        with:
          context: ./upstream

  build-with-runs-on:
    name: RunsOn / ${{ matrix.runner }} / ${{ matrix.caching }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - image=ubuntu24-full-x64,family=r7a.xlarge
          - image=ubuntu24-full-arm64,family=r8g.xlarge
        caching:
          - cache=enabled
          - cache=disabled
    runs-on: runs-on=${{ github.run_id }},${{ matrix.runner }},extras=tmpfs+ecr-cache,env=demo,tag=${{ matrix.caching }}
    steps:
      - uses: runs-on/action@v2
        with:
          show_costs: 'summary'
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v4
        if: ${{ matrix.caching == 'cache=enabled' }}
        env:
          TAG: "${{ env.RUNS_ON_ECR_CACHE }}:posthog-latest"
        with:
          context: ./upstream
          push: true
          tags: ${{ env.TAG }}
          cache-from: type=registry,ref=${{ env.TAG }}
          cache-to: type=registry,ref=${{ env.TAG }},mode=max,compression=zstd,compression-level=0
          build-args: |
            BUILDKIT_CONTEXT_KEEP_GIT_DIR=1
      - uses: docker/build-push-action@v4
        if: ${{ matrix.caching == 'cache=disabled' }}
        with:
          context: ./upstream
          build-args: |
            BUILDKIT_CONTEXT_KEEP_GIT_DIR=1
      
