name: Sync
on:
  workflow_dispatch: {}
  schedule:
    - cron: "0 */6 * * *"

permissions:
  contents: write

jobs:
  sync:
    name: Sync With Upstream
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - run: |
          git config --global user.name "runs-on-bot"
          git config --global user.email "ops@runs-on.com"
          git submodule init
          git submodule update --remote --merge
          export UPSTREAM="$(cd upstream && git remote get-url origin)"
          export COMMIT_SHA="$(cd upstream && git rev-parse HEAD)"
          git commit -am "Update upstream to ${UPSTREAM}/commit/${COMMIT_SHA}" || echo "No changes"
          git push origin main